//Danger
$danger_default: #FE5860;
$danger_hover: #B94146;
$danger_lgt: #FEEFF0;


//Ghost
$ghost_default: rgba(255, 255, 255,0);
$ghost_hover: rgba(48, 77, 109, 0.05);


//Base
$base_default: #222B45; 
$base_default_alt: #304D6D;
$base_default_drk: #1F3246;
$base_default_lgt: #EDF1F7;
$white: #FFFFFF;
$white_opacity0_5:#EBEDF0;
$disabled: rgba(48, 77, 109, 0.2);
$disabled_alt: rgba(48, 77, 109, 0.2);
$disabled_alt_drk: rgba(48, 77, 109, 0.4);
$transparent: rgba(255, 255, 255, 0);
$gray : #7B8DA2;
$gray_drk: #A0AEBC;
$gray_alt: #C6CED7;

//Tertiary
$tertiary_default: #556D87;
$textiary_hover: #304D6D; 

//Secondary
$secondary_default: #F5F7F8;
$secondary_default_drk: #556D87;
$secondary_hover: #C6CED7;

$primary_default: #00B3DB;
$primary_hover: #007FAC;

