<h2>Dropdowns</h2>
<div class="row">
    <div class="col-sm-5">
        <!-- Dropdowns Default -->
        <lib-packen-dropdown [(value)]="selectedMenuEager" [items]="itemsMenu1" size="medium"
            label="Dropdown Default (Eager)" type="default" [lazy]="false" [required]="true" [disabled]="true">
        </lib-packen-dropdown>
        <br>

        <lib-packen-dropdown [(value)]="selectedMenuLazy" [items]="itemsMenuLazy" size="medium"
            label="Dropdown Default (Lazy)" type="default" (keyUp)="keyUpDropdown($event)" [lazy]="true"
            [required]="true">
        </lib-packen-dropdown>
        <br>

        <lib-packen-dropdown [(value)]="selectedMenu2" [items]="itemsMenu2" size="medium"
            label="Dropdown Defaul (Avatar)" type="default">
        </lib-packen-dropdown>
        <br>

        <lib-packen-dropdown [(value)]="selectedMenu3" [items]="itemsMenu3" size="medium" label="Dropdown Defaul (Icon)"
            type="default">
        </lib-packen-dropdown>
        <br>

        <lib-packen-dropdown [(value)]="selectedMenu3" [items]="itemsMenu4" size="large"
            label="Dropdown Defaul (Multicontent)" type="default">
        </lib-packen-dropdown>
        <br>

        <!-- Dropdown Radio -->
        <lib-packen-dropdown [required]="true" placeholder="--" [items]="radios" [(value)]="selectMenuRadio"
            size="large" label="Dropdown Radios" type="radio">
        </lib-packen-dropdown>
        <br>

        <!-- Dropdown Checkbox -->
        <lib-packen-dropdown [required]="true" [items]="checkboxes" size="medium" label="Dropdown Checkboxes"
            type="checkbox" (keyUp)="keyUpDropdown($event)" [lazy]="false">
        </lib-packen-dropdown>
        <br>

        <!-- Dropdown theme - img -->
        <lib-packen-dropdown [autocomplete]="false" [(value)]="selectedMenuPrimary"
            [items]="itemsMenuPrimary" [label]="'Dropdown theme - img'" size="small" type="default">
        </lib-packen-dropdown>
        <br>


        <!-- Dropdown theme - radio -->
        <lib-packen-dropdown [required]="true" [theme]="'primary'" placeholder="--" [items]="radios"
            [(value)]="selectMenuRadio" size="small" label="Dropdown theme - radio" [autocomplete]="false" type="radio">
        </lib-packen-dropdown>
        <br>

        <!-- Dropdown input theme - img -->
        <lib-packen-dropdown [autocomplete]="true" [theme]="'primary'" [(value)]="selectedMenuPrimary"
            [items]="itemsMenuPrimary" size="small" [label]="'Dropdown input theme - img'" type="default">
        </lib-packen-dropdown>
        <br>


        <!-- Dropdown input theme - radio -->
        <lib-packen-dropdown [required]="true" [theme]="'primary'" placeholder="--" [items]="radios"
            [(value)]="selectMenuRadio" [autocomplete]="true" size="giant" label="Dropdown input theme - radio"
            type="radio">
        </lib-packen-dropdown>
        <br>
    </div>

    <div class="col-sm"></div>
</div>