<h2>Dropdowns</h2>

<div class="row">
    <div class="col-sm-5">
        <lib-packen-dropdown [(value)]="selectedMenu1" [items]="itemsMenu1" size="medium" label="Menu 1" type="default"
            (keyUp)="keyUpDropdown($event)" [lazy]="false" [required]="true">
        </lib-packen-dropdown>
        <br>

        <lib-packen-dropdown [(value)]="selectedMenu2" [items]="itemsMenu2" size="medium" label="Menu 2" type="default">
        </lib-packen-dropdown>
        <br>

        <lib-packen-dropdown [(value)]="selectedMenu3" [items]="itemsMenu3" size="medium" label="Menu 3" type="default">
        </lib-packen-dropdown>
        <br>

        <lib-packen-dropdown [(value)]="selectedMenu3" [items]="itemsMenu4" size="medium" label="Menu item"
            type="default">
        </lib-packen-dropdown>
        <br>

        <lib-packen-dropdown [required]="true" [items]="radios" [(value)]="selectMenuRadio" size="large"
            label="Menu radios" type="radio">
        </lib-packen-dropdown>
        <br>

        <lib-packen-dropdown [required]="true" [items]="checkboxes" size="medium" label="Menu Checkbox (LAZY)" type="checkbox"
            (keyUp)="keyUpDropdown($event)" [lazy]="true">
        </lib-packen-dropdown>
        <br>
    </div>

    <div class="col-sm"></div>
</div>