<h2>Pinmaps</h2>

<app-packen-pin-map 
    typeIcon="icon" 
    icon="icon-keypad"
    type="default" 
    label="DE:" 
    direction="Calle 72 #12-81" 
    iconPosition="left"
    dotPosition="top">
</app-packen-pin-map>

<app-packen-pin-map 
    typeIcon="icon" 
    icon="icon-keypad"
    type="active" 
    label="DE:" 
    direction="Calle 72 #12-81" 
    iconPosition="left"
    dotPosition="left">
</app-packen-pin-map>

<app-packen-pin-map 
    typeIcon="icon" 
    icon="icon-keypad"
    type="default" 
    label="DE:" 
    direction="Calle 72 #12-81" 
    iconPosition="left"
    dotPosition="down">
</app-packen-pin-map>


<app-packen-pin-map 
    typeIcon="icon" 
    icon="icon-keypad"
    type="active" 
    label="DE:" 
    direction="Calle 72 #12-81" 
    iconPosition="right"
    dotPosition="right">
</app-packen-pin-map>

<app-packen-pin-map 
    typeIcon="icon" 
    icon="icon-keypad"
    type="default" 
    label="DE:" 
    direction="Calle 72 #12-81" 
    iconPosition="right"
    dotPosition="down">
</app-packen-pin-map>


<app-packen-pin-map 
    typeIcon="icon" 
    icon="icon-keypad"
    type="active"  
    iconPosition="right"
    dotPosition="top">
</app-packen-pin-map>

<app-packen-pin-map 
    typeIcon="icon" 
    icon="icon-keypad"
    type="active"
    dotPosition="left">
</app-packen-pin-map>

<app-packen-pin-map 
    typeIcon="icon" 
    icon="icon-flip-2"
    type="refresh"  
    iconPosition="right"
    label="A: "
    direction="15 minutos"
    dotPosition="none">
</app-packen-pin-map>

<app-packen-pin-map 
    typeIcon="icon" 
    icon="icon-flip-2"
    type="refresh"  
    iconPosition="right"
    dotPosition="none">
</app-packen-pin-map>