<h2>Pinmaps</h2>

<div class="row cont">
    <div class="cont__item--lg">
        <lib-packen-pin-map typeIcon="icon" icon="icon-keypad" type="default" label="DE:" direction="Calle 72 #12-81"
            iconPosition="left" dotPosition="top">
        </lib-packen-pin-map>
    </div>

    <div class="cont__item--lg">
        <lib-packen-pin-map typeIcon="icon" icon="icon-keypad" type="active" label="DE:" direction="Calle 72 #12-81"
            iconPosition="left" dotPosition="left">
        </lib-packen-pin-map>
    </div>

    <div class="cont__item--lg">
        <lib-packen-pin-map typeIcon="icon" icon="icon-keypad" type="default" label="DE:" direction="Calle 72 #12-81, Torre 4"
            iconPosition="left" dotPosition="bottom">
        </lib-packen-pin-map>
    </div>

    <div class="cont__item--xs">
        <lib-packen-pin-map typeIcon="icon" icon="icon-keypad" type="default" label="DE:" direction="Calle 72 #12-81 Apto 302, Ed. Finlandia"
            iconPosition="right" dotPosition="bottom">
        </lib-packen-pin-map>
    </div>

    <div class="cont__item--xs">
        <lib-packen-pin-map typeIcon="icon" icon="icon-keypad" type="default" label="DE:" direction="Calle 72 #12-81"
            iconPosition="right" dotPosition="right">
        </lib-packen-pin-map>
    </div>

    <div class="cont__item--lg">
        <lib-packen-pin-map typeIcon="icon" icon="icon-keypad" type="active" iconPosition="right" dotPosition="top">
        </lib-packen-pin-map>
    </div>

    <div class="cont__item--sm">
        <lib-packen-pin-map typeIcon="icon" icon="icon-keypad" type="active" dotPosition="left">
        </lib-packen-pin-map>
    </div>

    <div class="cont__item--sm">
        <lib-packen-pin-map typeIcon="icon" icon="icon-flip-2" type="refresh" iconPosition="right" label="A: "
            direction="15 minutos" dotPosition="none">
        </lib-packen-pin-map>
    </div>

    <div class="cont__item--sm">
        <lib-packen-pin-map typeIcon="icon" icon="icon-flip-2" type="refresh" iconPosition="right" dotPosition="none">
        </lib-packen-pin-map>
    </div>
</div>