@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?aesxch");
  src: url("fonts/icomoon.eot?aesxch#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?aesxch") format("truetype"), url("fonts/icomoon.woff?aesxch") format("woff"),
    url("fonts/icomoon.svg?aesxch#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close {
  &:before {
    content: "\e9ab";
  }
}
.icon-message-circle {
  &:before {
    content: "\e9a9";
  }
}
.icon-email {
  &:before {
    content: "\e9aa";
  }
}
.icon-weight {
  &:before {
    content: "\e92b";
  }
}
.icon-umbrella {
  &:before {
    content: "\e937";
  }
}
.icon-timer {
  &:before {
    content: "\e939";
  }
}
.icon-thermometer-plus {
  &:before {
    content: "\e93b";
  }
}
.icon-thermometer-minus {
  &:before {
    content: "\e93d";
  }
}
.icon-thermometer {
  &:before {
    content: "\e93f";
  }
}
.icon-sun {
  &:before {
    content: "\e951";
  }
}
.icon-star {
  &:before {
    content: "\e953";
  }
}
.icon-new-order {
  &:before {
    content: "\e955";
  }
}
.icon-moon {
  &:before {
    content: "\e957";
  }
}
.icon-home {
  &:before {
    content: "\e959";
  }
}
.icon-height {
  &:before {
    content: "\e9a5";
  }
}
.icon-clock {
  &:before {
    content: "\e9a6";
  }
}
.icon-bulb {
  &:before {
    content: "\e9a7";
  }
}
.icon-activity {
  &:before {
    content: "\e9a8";
  }
}
.icon-service {
  &:before {
    content: "\e929";
  }
}
.icon-vehicle {
  &:before {
    content: "\e901";
  }
}
.icon-tour {
  &:before {
    content: "\e913";
  }
}
.icon-rate {
  &:before {
    content: "\e915";
  }
}
.icon-pie-chart {
  &:before {
    content: "\e925";
  }
}
.icon-id {
  &:before {
    content: "\e927";
  }
}
.icon-funnel {
  &:before {
    content: "\e9a2";
  }
}
.icon-gift {
  &:before {
    content: "\e9a3";
  }
}
.icon-pricetag {
  &:before {
    content: "\e9a4";
  }
}
.icon-cast {
  &:before {
    content: "\e900";
  }
}
.icon-whell {
  &:before {
    content: "\e902";
  }
}
.icon-share {
  &:before {
    content: "\e903";
  }
}
.icon-car {
  &:before {
    content: "\e904";
  }
}
.icon-credit-card {
  &:before {
    content: "\e905";
  }
}
.icon-money {
  &:before {
    content: "\e906";
  }
}
.icon-transference {
  &:before {
    content: "\e907";
  }
}
.icon-facebook {
  &:before {
    content: "\e908";
  }
}
.icon-linkedin {
  &:before {
    content: "\e909";
  }
}
.icon-whatsapp {
  &:before {
    content: "\e90a";
  }
}
.icon-flag {
  &:before {
    content: "\e90b";
  }
}
.icon-globe-2 {
  &:before {
    content: "\e90c";
  }
}
.icon-map {
  &:before {
    content: "\e90d";
  }
}
.icon-navigation-2 {
  &:before {
    content: "\e90e";
  }
}
.icon-navigation {
  &:before {
    content: "\e90f";
  }
}
.icon-pin {
  &:before {
    content: "\e910";
  }
}
.icon-archive {
  &:before {
    content: "\e911";
  }
}
.icon-at {
  &:before {
    content: "\e912";
  }
}
.icon-inbox {
  &:before {
    content: "\e914";
  }
}
.icon-message-square {
  &:before {
    content: "\e916";
  }
}
.icon-paper-plane {
  &:before {
    content: "\e917";
  }
}
.icon-phone-call {
  &:before {
    content: "\e918";
  }
}
.icon-phone-missed {
  &:before {
    content: "\e919";
  }
}
.icon-phone-off {
  &:before {
    content: "\e91a";
  }
}
.icon-phone {
  &:before {
    content: "\e91b";
  }
}
.icon-battery {
  &:before {
    content: "\e91c";
  }
}
.icon-batttery-charging {
  &:before {
    content: "\e91d";
  }
}
.icon-bluetooth {
  &:before {
    content: "\e91e";
  }
}
.icon-flash-off {
  &:before {
    content: "\e91f";
  }
}
.icon-flash {
  &:before {
    content: "\e920";
  }
}
.icon-keypad {
  &:before {
    content: "\e921";
  }
}
.icon-mic-off {
  &:before {
    content: "\e922";
  }
}
.icon-mic {
  &:before {
    content: "\e923";
  }
}
.icon-power {
  &:before {
    content: "\e924";
  }
}
.icon-wifi-off {
  &:before {
    content: "\e926";
  }
}
.icon-lock {
  &:before {
    content: "\e928";
  }
}
.icon-settings {
  &:before {
    content: "\e92a";
  }
}
.icon-shield {
  &:before {
    content: "\e92c";
  }
}
.icon-unlock {
  &:before {
    content: "\e92d";
  }
}
.icon-log-in {
  &:before {
    content: "\e92e";
  }
}
.icon-log-out {
  &:before {
    content: "\e92f";
  }
}
.icon-people {
  &:before {
    content: "\e930";
  }
}
.icon-person-add {
  &:before {
    content: "\e931";
  }
}
.icon-person-delete {
  &:before {
    content: "\e932";
  }
}
.icon-person-done {
  &:before {
    content: "\e933";
  }
}
.icon-person-remove {
  &:before {
    content: "\e934";
  }
}
.icon-person {
  &:before {
    content: "\e935";
  }
}
.icon-attach-2 {
  &:before {
    content: "\e936";
  }
}
.icon-cloud-download {
  &:before {
    content: "\e938";
  }
}
.icon-download {
  &:before {
    content: "\e93a";
  }
}
.icon-file-add {
  &:before {
    content: "\e93c";
  }
}
.icon-file-text {
  &:before {
    content: "\e93e";
  }
}
.icon-folder-add {
  &:before {
    content: "\e940";
  }
}
.icon-folder-remove {
  &:before {
    content: "\e941";
  }
}
.icon-folder {
  &:before {
    content: "\e942";
  }
}
.icon-upload {
  &:before {
    content: "\e943";
  }
}
.icon-all-done {
  &:before {
    content: "\e944";
  }
}
.icon-backspace {
  &:before {
    content: "\e945";
  }
}
.icon-book-open {
  &:before {
    content: "\e946";
  }
}
.icon-book {
  &:before {
    content: "\e947";
  }
}
.icon-bookmark {
  &:before {
    content: "\e948";
  }
}
.icon-checkmark-circle-2 {
  &:before {
    content: "\e949";
  }
}
.icon-checkmark-circle {
  &:before {
    content: "\e94a";
  }
}
.icon-checkmark-square-2 {
  &:before {
    content: "\e94b";
  }
}
.icon-checkmark-square {
  &:before {
    content: "\e94c";
  }
}
.icon-checkmark {
  &:before {
    content: "\e94d";
  }
}
.icon-clipboard {
  &:before {
    content: "\e94e";
  }
}
.icon-close-circle-1 {
  &:before {
    content: "\e94f";
  }
}
.icon-close-circle {
  &:before {
    content: "\e950";
  }
}
.icon-copy {
  &:before {
    content: "\e952";
  }
}
.icon-edit {
  &:before {
    content: "\e954";
  }
}
.icon-layers {
  &:before {
    content: "\e956";
  }
}
.icon-link-2 {
  &:before {
    content: "\e958";
  }
}
.icon-minus-circle {
  &:before {
    content: "\e95a";
  }
}
.icon-minus-square {
  &:before {
    content: "\e95b";
  }
}
.icon-minus {
  &:before {
    content: "\e95c";
  }
}
.icon-plus-circle {
  &:before {
    content: "\e95d";
  }
}
.icon-plus-square {
  &:before {
    content: "\e95e";
  }
}
.icon-plus {
  &:before {
    content: "\e95f";
  }
}
.icon-save {
  &:before {
    content: "\e960";
  }
}
.icon-scissors {
  &:before {
    content: "\e961";
  }
}
.icon-slash {
  &:before {
    content: "\e962";
  }
}
.icon-square {
  &:before {
    content: "\e963";
  }
}
.icon-text {
  &:before {
    content: "\e964";
  }
}
.icon-trash-2 {
  &:before {
    content: "\e965";
  }
}
.icon-trash {
  &:before {
    content: "\e966";
  }
}
.icon-undo {
  &:before {
    content: "\e967";
  }
}
.icon-collapse {
  &:before {
    content: "\e968";
  }
}
.icon-expand {
  &:before {
    content: "\e969";
  }
}
.icon-eye-off-2 {
  &:before {
    content: "\e96a";
  }
}
.icon-eye {
  &:before {
    content: "\e96b";
  }
}
.icon-maximize {
  &:before {
    content: "\e96c";
  }
}
.icon-minimize {
  &:before {
    content: "\e96d";
  }
}
.icon-move {
  &:before {
    content: "\e96e";
  }
}
.icon-options-2 {
  &:before {
    content: "\e96f";
  }
}
.icon-options {
  &:before {
    content: "\e970";
  }
}
.icon-radio-button-off {
  &:before {
    content: "\e971";
  }
}
.icon-radio-button-on {
  &:before {
    content: "\e972";
  }
}
.icon-toggle-left {
  &:before {
    content: "\e973";
  }
}
.icon-toggle-right {
  &:before {
    content: "\e974";
  }
}
.icon-list {
  &:before {
    content: "\e975";
  }
}
.icon-menu-2 {
  &:before {
    content: "\e976";
  }
}
.icon-menu-arrow {
  &:before {
    content: "\e977";
  }
}
.icon-menu {
  &:before {
    content: "\e978";
  }
}
.icon-more-horizontal {
  &:before {
    content: "\e979";
  }
}
.icon-more-vertical {
  &:before {
    content: "\e97a";
  }
}
.icon-alert-circle {
  &:before {
    content: "\e97b";
  }
}
.icon-alert-triangle {
  &:before {
    content: "\e97c";
  }
}
.icon-bell-off {
  &:before {
    content: "\e97d";
  }
}
.icon-info {
  &:before {
    content: "\e97e";
  }
}
.icon-question-mark-circle {
  &:before {
    content: "\e97f";
  }
}
.icon-question-mark {
  &:before {
    content: "\e980";
  }
}
.icon-shake {
  &:before {
    content: "\e981";
  }
}
.icon-arrow-ios-down {
  &:before {
    content: "\e982";
  }
}
.icon-arrow-ios-left {
  &:before {
    content: "\e983";
  }
}
.icon-arrow-ios-right {
  &:before {
    content: "\e984";
  }
}
.icon-arrow-ios-up {
  &:before {
    content: "\e985";
  }
}
.icon-arrowhead-down {
  &:before {
    content: "\e986";
  }
}
.icon-arrowhead-left {
  &:before {
    content: "\e987";
  }
}
.icon-arrowhead-right {
  &:before {
    content: "\e988";
  }
}
.icon-arrowhead-up {
  &:before {
    content: "\e989";
  }
}
.icon-arrow-circle-down {
  &:before {
    content: "\e98a";
  }
}
.icon-arrow-circle-left {
  &:before {
    content: "\e98b";
  }
}
.icon-arrow-circle-right {
  &:before {
    content: "\e98c";
  }
}
.icon-arrow-circle-up {
  &:before {
    content: "\e98d";
  }
}
.icon-arrow-down {
  &:before {
    content: "\e98e";
  }
}
.icon-arrow-left {
  &:before {
    content: "\e98f";
  }
}
.icon-arrow-right {
  &:before {
    content: "\e990";
  }
}
.icon-arrow-up {
  &:before {
    content: "\e991";
  }
}
.icon-arrrow-left {
  &:before {
    content: "\e992";
  }
}
.icon-corner-down-left {
  &:before {
    content: "\e993";
  }
}
.icon-corner-down-right {
  &:before {
    content: "\e994";
  }
}
.icon-corner-left-down {
  &:before {
    content: "\e995";
  }
}
.icon-corner-left-up {
  &:before {
    content: "\e996";
  }
}
.icon-corner-right-down {
  &:before {
    content: "\e997";
  }
}
.icon-corner-right-up {
  &:before {
    content: "\e998";
  }
}
.icon-corner-up-left {
  &:before {
    content: "\e999";
  }
}
.icon-corner-up-right {
  &:before {
    content: "\e99a";
  }
}
.icon-diagonal-arrow-left-down {
  &:before {
    content: "\e99b";
  }
}
.icon-diagonal-arrow-left-up {
  &:before {
    content: "\e99c";
  }
}
.icon-diagonal-arrow-right-down {
  &:before {
    content: "\e99d";
  }
}
.icon-diagonal-arrow-right-up {
  &:before {
    content: "\e99e";
  }
}
.icon-flip-2 {
  &:before {
    content: "\e99f";
  }
}
.icon-flip {
  &:before {
    content: "\e9a0";
  }
}
.icon-swap {
  &:before {
    content: "\e9a1";
  }
}
.icon-doc-back {
  &:before {
    content: "\e9ac";
  }
}
.icon-doc-front {
  &:before {
    content: "\e9ad";
  }
}
.icon-camera {
  &:before {
    content: "\e9ae";
  }
}
.icon-ellipse {
  &:before {
    content: "\e9af";
  }
}
.icon-user-alone {
  &:before {
    content: "\e9b0";
  }
}
.icon-user-vehicle {
  &:before {
    content: "\e9b1";
  }
}
