$font-stack: "Muli", sans-serif;

// Danger
$danger_default: #fe5860;
$danger_hover: #b94146;
$danger_lgt: #feeff0;

// Ghost
$ghost_default: rgba(255, 255, 255, 0);
$ghost_hover: rgba(48, 77, 109, 0.05);

//Base
$base_default: #222b45;
$base_default_alt: #304d6d;
$base_default_drk: #1f3246;
$base_default_lgt: #edf1f7;

$white: #ffffff;
$white_opacity0_5: #ebedf0;

$disabled: rgba(48, 77, 109, 0.2);
$disabled_alt: rgba(48, 77, 109, 0.2);
$disabled_alt_drk: rgba(48, 77, 109, 0.4);
$disabled_alt_drk_light: rgba(48, 77, 109, 0.6);

$transparent: rgba(255, 255, 255, 0);

$gray: #7b8da2;
$gray_drk: #a0aebc;
$gray_alt: #c6ced7;

$purple: #7188fc;
$purple-light: #e2e9fe;
$purple-drk:#3849b5;

$green-vivid: #20d292;
$green-vivid-light: #eafaf5;

$green-off: #15865d;

$yellow-off: #b78105;

// Tertiary
$tertiary_default: #556d87;
$textiary_hover: #304d6d;

// Secondary
$secondary_default: #f5f7f8;
$secondary_default_drk: #556d87;
$secondary_hover: #c6ced7;

// Primary
$primary_default: #00b3db;
$primary_hover: #007fac;

// Basic
$basic_white_dft: #ffffff;
$basic_white_med: #f9fafb;
$basic_white_drk: #f5f7f8;
$basic_gray_dft: #c6ced7;
$basic_gray_lgt: #eceef1;
$basic_gray_drk: #a0aebc;
$basic_gray_bck: #f6f5f5;
$basic_independece_dft: #556d87;
$basic_independece_lgt: #7b8da2;
$basic_independece_drk: #304d6d;
$basic_yankees_dft: #1f3246;
$basic_black_dft: #000000;
$basic_disable: #8f9bb3;

// Brand
$brand_primary_dft: #00e5ff;
$brand_primary_drk: #00b3db;
$brand_primary_udrk: #0087b7;
$brand_primary_lgt: #8bf3ff;
$brand_primary_ulgt: #b9f7ff;
$brand_primary_snw: #e7fcff;
$brand_secondary_dft: #0d73ff;
$brand_secondary_drk: #094aa3;
$brand_secondary_lgt: #9ac2fe;
$brand_secondary_ulgt: #bdd8ff;
$brand_secondary_snw: #e9f2ff;

// Default
$default_default: #a0aebc;

// Success
$success_default: #20d292;

// Table styles
$blue-box: rgba(0, 180, 199, 0.37);
$separator-gray: #e4e4e4;
$separator-gray-lgt: #f1f1f1;

$box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.1);

// BREAKPOINTS
$breakpoint-mobile: 660px;
$breakpoint-mini-tablet: 768px;
$breakpoint-tablet: 960px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktoplg: 1366px;
