<h2>Input show</h2>
<div class="col-sm-8">
    <lib-packen-input-show icon="icon-id" [color]="'yellow-off'" type="icon" [title]="titleInput" [(value)]="valueInput"
        label="Placa del vehículo" labelPosition="bottom" [isInput]="[true]" (keyUpInput)="changeValueInput($event)"
        mask="AAA-000">
    </lib-packen-input-show>
    <br>

    <lib-packen-input-show icon="icon-id" [color]="'yellow-off'" type="icon" [title]="'1.018.234.542'"
        label="Documento de identidad" message="Documento a la espera de aprobación" labelPosition="bottom"
        (clickSee)="clickSeeButton($event)" (clickEdit)="clickEdit($event)" [showEdit]='true' [showSee]="true">
    </lib-packen-input-show>

    <br>
    <lib-packen-input-show [icon]="'icon-phone'" [color]="'red'" [type]="'icon'" [title]="'312 789 12  45'"
        [label]="'Número de celular'" [labelPosition]="'top'" (clickEdit)="clickEdit($event)" [showEdit]="true">
    </lib-packen-input-show>

    <br>
    <lib-packen-input-show [icon]="'icon-email'" [color]="'red'" [type]="'icon'" [title]="'andrespaez@gmail.com'"
        [label]="'Correo electronico'" [message]="'Correo a la espera de verificación'" [labelPosition]="'bottom'"
        (clickSee)="clickSeeButton($event)" (clickEdit)="clickEdit($event)" [showEdit]="true" [showSee]="true">
    </lib-packen-input-show>

    <br>
    <lib-packen-input-show [type]="'icon'" [icon]="'icon-doc-front'" [title]="'109702362733'"
        [label]="'Cedula de ciudadania'" [labelPosition]="'bottom'" [phantom]="true">
    </lib-packen-input-show>

    <br>
    <lib-packen-input-show [type]="'icon'" [icon]="'icon-doc-back'" [title]="'Cara 1'" [labelPosition]="'bottom'"
        [description]="'(Lado de la fotografia)'" [phantom]="true">
    </lib-packen-input-show>
</div>
<br>