<!-- <app-counters></app-counters>
<app-rating></app-rating>
<app-icon-map></app-icon-map>
<app-selects></app-selects>
<app-inputs-show-dropdown></app-inputs-show-dropdown>
<app-alerts></app-alerts>
<app-inputs-show></app-inputs-show>
<app-files></app-files>
<app-pin-map></app-pin-map>
<app-dates></app-dates> -->

<app-dropdowns></app-dropdowns>
<app-inputs></app-inputs>
<app-toggles></app-toggles>
<app-radio></app-radio>
<app-checkbox></app-checkbox>
<app-tabs></app-tabs>
<app-dividers></app-dividers>
<app-avatars></app-avatars>
<app-buttons></app-buttons>
<app-table></app-table>