<h2>Selects</h2>
<div class="row">
    <form #formTest="ngForm">
        <div class="col-md">
            <lib-packen-select [subtitle]="'Tipo de licencia'"
                [items]="selectList" [disabled]="disabled"
                (outputClick)="setSelectedOption($event)"
                [selectedId]="selectedId">
            </lib-packen-select>
        </div>
    </form>

    <div>
        <button class="btn-p" (click)="disable()">Disable</button>
        <button class="btn-p" (click)="print()" [disabled]="!formTest.valid || !selectedId">
            Print Option
        </button>
    </div>
</div>