<div class="cont" (clickOutside)="clickOutsideContent()">
    <div class="cont__component" (click)="clickInputComponent()">
        <lib-input-show *ngIf="!showInput" [color]="'yellow-off'" [title]="titleInput" [label]="label"
            [labelPosition]="labelPosition" [isDropdown]="true" [icon]="icon">
        </lib-input-show>
        <input [(ngModel)]="valueWrittenInput" *ngIf="showInput" id="search" #search class="cont__component__input"
            [required]="required" [ngClass]="classInput">
    </div>

    <div class="cont__options" *ngIf="showListItems">
        <div *ngFor="let i of items" [ngClass]="getClassIsSelected(i)" class="cont__options__item"
            (click)="selectItem(i)">
            <p>{{i.title}}</p>
            <span *ngIf="i.id === value" class="cont__options__item__icon icon-checkmark"></span>
        </div>
    </div>
</div>

<br>