.cont {
    width: 100%;
    position: relative;
    min-height: 56px;

    p {
        margin: 0;
    }

    &__component {
        min-height: 56px;

        &__input {
            border: none;
            width: 100%;
            outline: none;
            padding: 10px 20px;
            height: 56px;
            font-size: 16px;
            background-color: #f9fafb;

            &--required {
                border: 2px solid red !important;
            }
        }
    }
    &__options {
        position: absolute;
        width: 100%;
        z-index: 2;
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.1);
        filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.1)), drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.1));
        &__item {
            height: 40px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            cursor: pointer;

            &--selected {
                background-color: #00b3db;
                span {
                    color: white;
                }
                p {
                    color: white;
                }
            }
            &__icon {
                font-size: 20px;
            }

            &:not(.cont__options__item--selected):hover {
                background-color: #e7fcff;
            }
        }
    }
}
