/*=============== ICONS VARIABLES ===============*/

$icon-cast: "\e900";
$icon-new-order: "\e901";
$icon-whell: "\e902";
$icon-share: "\e903";
$icon-car: "\e904";
$icon-credit-card: "\e905";
$icon-money: "\e906";
$icon-transference: "\e907";
$icon-facebook: "\e908";
$icon-linkedin: "\e909";
$icon-whatsapp: "\e90a";
$icon-flag: "\e90b";
$icon-globe-2: "\e90c";
$icon-map: "\e90d";
$icon-navigation-2: "\e90e";
$icon-navigation: "\e90f";
$icon-pin: "\e910";
$icon-archive: "\e911";
$icon-at: "\e912";
$icon-email: "\e913";
$icon-inbox: "\e914";
$icon-message-circle: "\e915";
$icon-message-square: "\e916";
$icon-paper-plane: "\e917";
$icon-phone-call: "\e918";
$icon-phone-missed: "\e919";
$icon-phone-off: "\e91a";
$icon-phone: "\e91b";
$icon-battery: "\e91c";
$icon-batttery-charging: "\e91d";
$icon-bluetooth: "\e91e";
$icon-flash-off: "\e91f";
$icon-flash: "\e920";
$icon-keypad: "\e921";
$icon-mic-off: "\e922";
$icon-mic: "\e923";
$icon-power: "\e924";
$icon-radio: "\e925";
$icon-wifi-off: "\e926";
$icon-wifi: "\e927";
$icon-lock: "\e928";
$icon-settings-2: "\e929";
$icon-settings: "\e92a";
$icon-shield-off: "\e92b";
$icon-shield: "\e92c";
$icon-unlock: "\e92d";
$icon-log-in: "\e92e";
$icon-log-out: "\e92f";
$icon-people: "\e930";
$icon-person-add: "\e931";
$icon-person-delete: "\e932";
$icon-person-done: "\e933";
$icon-person-remove: "\e934";
$icon-person: "\e935";
$icon-attach-2: "\e936";
$icon-attach: "\e937";
$icon-cloud-download: "\e938";
$icon-cloud-upload: "\e939";
$icon-download: "\e93a";
$icon-external-link: "\e93b";
$icon-file-add: "\e93c";
$icon-file-remove: "\e93d";
$icon-file-text: "\e93e";
$icon-file: "\e93f";
$icon-folder-add: "\e940";
$icon-folder-remove: "\e941";
$icon-folder: "\e942";
$icon-upload: "\e943";
$icon-all-done: "\e944";
$icon-backspace: "\e945";
$icon-book-open: "\e946";
$icon-book: "\e947";
$icon-bookmark: "\e948";
$icon-checkmark-circle-2: "\e949";
$icon-checkmark-circle: "\e94a";
$icon-checkmark-square-2: "\e94b";
$icon-checkmark-square: "\e94c";
$icon-checkmark: "\e94d";
$icon-clipboard: "\e94e";
$icon-close-circle-1: "\e94f";
$icon-close-circle: "\e950";
$icon-close: "\e951";
$icon-copy: "\e952";
$icon-edit-2: "\e953";
$icon-edit: "\e954";
$icon-grid: "\e955";
$icon-layers: "\e956";
$icon-layout: "\e957";
$icon-link-2: "\e958";
$icon-link: "\e959";
$icon-minus-circle: "\e95a";
$icon-minus-square: "\e95b";
$icon-minus: "\e95c";
$icon-plus-circle: "\e95d";
$icon-plus-square: "\e95e";
$icon-plus: "\e95f";
$icon-save: "\e960";
$icon-scissors: "\e961";
$icon-slash: "\e962";
$icon-square: "\e963";
$icon-text: "\e964";
$icon-trash-2: "\e965";
$icon-trash: "\e966";
$icon-undo: "\e967";
$icon-collapse: "\e968";
$icon-expand: "\e969";
$icon-eye-off-2: "\e96a";
$icon-maximize: "\e96c";
$icon-minimize: "\e96d";
$icon-move: "\e96e";
$icon-options-2: "\e96f";
$icon-options: "\e970";
$icon-radio-button-off: "\e971";
$icon-radio-button-on: "\e972";
$icon-toggle-left: "\e973";
$icon-toggle-right: "\e974";
$icon-list: "\e975";
$icon-menu-2: "\e976";
$icon-menu-arrow: "\e977";
$icon-menu: "\e978";
$icon-more-horizontal: "\e979";
$icon-more-vertical: "\e97a";
$icon-alert-circle: "\e97b";
$icon-alert-triangle: "\e97c";
$icon-bell-off: "\e97d";
$icon-info: "\e97e";
$icon-question-mark-circle: "\e97f";
$icon-question-mark: "\e980";
$icon-shake: "\e981";
$icon-arrow-ios-down: "\e982";
$icon-arrow-ios-left: "\e983";
$icon-arrow-ios-right: "\e984";
$icon-arrow-ios-up: "\e985";
$icon-arrowhead-down: "\e986";
$icon-arrowhead-left: "\e987";
$icon-arrowhead-right: "\e988";
$icon-arrowhead-up: "\e989";
$icon-arrow-circle-down: "\e98a";
$icon-arrow-circle-left: "\e98b";
$icon-arrow-circle-right: "\e98c";
$icon-arrow-circle-up: "\e98d";
$icon-arrow-down: "\e98e";
$icon-arrow-left: "\e98f";
$icon-arrow-right: "\e990";
$icon-arrow-up: "\e991";
$icon-arrrow-left: "\e992";
$icon-corner-down-left: "\e993";
$icon-corner-down-right: "\e994";
$icon-corner-left-down: "\e995";
$icon-corner-left-up: "\e996";
$icon-corner-right-down: "\e997";
$icon-corner-right-up: "\e998";
$icon-corner-up-left: "\e999";
$icon-corner-up-right: "\e99a";
$icon-diagonal-arrow-left-down: "\e99b";
$icon-diagonal-arrow-left-up: "\e99c";
$icon-diagonal-arrow-right-down: "\e99d";
$icon-diagonal-arrow-right-up: "\e99e";
$icon-flip-2: "\e99f";
$icon-flip: "\e9a0";
$icon-swap: "\e9a1";