/*=============== PRINCIPAL FONT ===============*/
@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap");

$font-stack: "Muli", sans-serif;

/*=============== ICONS FONT ===============*/
$font-icons: "packen";

@font-face {
  font-family: $font-icons;
  src: url("fonts/packen.eot?chbydt");
  src: url("fonts/packen.eot?chbydt#iefix") format("embedded-opentype"),
    url("fonts/packen.ttf?chbydt") format("truetype"), url("fonts/packen.woff?chbydt") format("woff"),
    url("fonts/packen.svg?chbydt#packen") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "packen" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*=============== ICONS CLASS ===============*/

.icon-cast {
  &:before {
    content: $icon-cast;
  }
}
.icon-new-order {
  &:before {
    content: $icon-new-order;
  }
}
.icon-whell {
  &:before {
    content: $icon-whell;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-car {
  &:before {
    content: $icon-car;
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}
.icon-money {
  &:before {
    content: $icon-money;
  }
}
.icon-transference {
  &:before {
    content: $icon-transference;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-flag {
  &:before {
    content: $icon-flag;
  }
}
.icon-globe-2 {
  &:before {
    content: $icon-globe-2;
  }
}
.icon-map {
  &:before {
    content: $icon-map;
  }
}
.icon-navigation-2 {
  &:before {
    content: $icon-navigation-2;
  }
}
.icon-navigation {
  &:before {
    content: $icon-navigation;
  }
}
.icon-pin {
  &:before {
    content: $icon-pin;
  }
}
.icon-archive {
  &:before {
    content: $icon-archive;
  }
}
.icon-at {
  &:before {
    content: $icon-at;
  }
}

.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-inbox {
  &:before {
    content: $icon-inbox;
  }
}
.icon-message-circle {
  &:before {
    content: $icon-message-circle;
  }
}
.icon-message-square {
  &:before {
    content: $icon-message-square;
  }
}
.icon-paper-plane {
  &:before {
    content: $icon-paper-plane;
  }
}
.icon-phone-call {
  &:before {
    content: $icon-phone-call;
  }
}
.icon-phone-missed {
  &:before {
    content: $icon-phone-missed;
  }
}
.icon-phone-off {
  &:before {
    content: $icon-phone-off;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-battery {
  &:before {
    content: $icon-battery;
  }
}
.icon-batttery-charging {
  &:before {
    content: $icon-batttery-charging;
  }
}
.icon-bluetooth {
  &:before {
    content: $icon-bluetooth;
  }
}
.icon-flash-off {
  &:before {
    content: $icon-flash-off;
  }
}
.icon-flash {
  &:before {
    content: $icon-flash;
  }
}
.icon-keypad {
  &:before {
    content: $icon-keypad;
  }
}
.icon-mic-off {
  &:before {
    content: $icon-mic-off;
  }
}
.icon-mic {
  &:before {
    content: $icon-mic;
  }
}
.icon-power {
  &:before {
    content: $icon-power;
  }
}
.icon-radio {
  &:before {
    content: $icon-radio;
  }
}
.icon-wifi-off {
  &:before {
    content: $icon-wifi-off;
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-settings-2 {
  &:before {
    content: $icon-settings-2;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}

.icon-shield-off {
  &:before {
    content: $icon-shield-off;
  }
}
.icon-shield {
  &:before {
    content: $icon-shield;
  }
}
.icon-unlock {
  &:before {
    content: $icon-unlock;
  }
}
.icon-log-in {
  &:before {
    content: $icon-log-in;
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out;
  }
}
.icon-people {
  &:before {
    content: $icon-people;
  }
}
.icon-person-add {
  &:before {
    content: $icon-person-add;
  }
}
.icon-person-delete {
  &:before {
    content: $icon-person-delete;
  }
}
.icon-person-done {
  &:before {
    content: $icon-person-done;
  }
}
.icon-person-remove {
  &:before {
    content: $icon-person-remove;
  }
}
.icon-person {
  &:before {
    content: $icon-person;
  }
}
.icon-attach-2 {
  &:before {
    content: $icon-attach-2;
  }
}
.icon-attach {
  &:before {
    content: $icon-attach;
  }
}
.icon-cloud-download {
  &:before {
    content: $icon-cloud-download;
  }
}
.icon-cloud-upload {
  &:before {
    content: $icon-cloud-upload;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link;
  }
}
.icon-file-add {
  &:before {
    content: $icon-file-add;
  }
}
.icon-file-remove {
  &:before {
    content: $icon-file-remove;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
.icon-file {
  &:before {
    content: $icon-file;
  }
}
.icon-folder-add {
  &:before {
    content: $icon-folder-add;
  }
}
.icon-folder-remove {
  &:before {
    content: $icon-folder-remove;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-upload {
  &:before {
    content: $icon-upload;
  }
}
.icon-all-done {
  &:before {
    content: $icon-all-done;
  }
}
.icon-backspace {
  &:before {
    content: $icon-backspace;
  }
}
.icon-book-open {
  &:before {
    content: $icon-book-open;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-checkmark-circle-2 {
  &:before {
    content: $icon-checkmark-circle-2;
  }
}
.icon-checkmark-circle {
  &:before {
    content: $icon-checkmark-circle;
  }
}
.icon-checkmark-square-2 {
  &:before {
    content: $icon-checkmark-square-2;
  }
}
.icon-checkmark-square {
  &:before {
    content: $icon-checkmark-square;
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard;
  }
}
.icon-close-circle-1 {
  &:before {
    content: $icon-close-circle-1;
  }
}
.icon-close-circle {
  &:before {
    content: $icon-close-circle;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-copy {
  &:before {
    content: $icon-copy;
  }
}
.icon-edit-2 {
  &:before {
    content: $icon-edit-2;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-grid {
  &:before {
    content: $icon-grid;
  }
}
.icon-layers {
  &:before {
    content: $icon-layers;
  }
}
.icon-layout {
  &:before {
    content: $icon-layout;
  }
}
.icon-link-2 {
  &:before {
    content: $icon-link-2;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle;
  }
}
.icon-minus-square {
  &:before {
    content: $icon-minus-square;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-scissors {
  &:before {
    content: $icon-scissors;
  }
}
.icon-slash {
  &:before {
    content: $icon-slash;
  }
}
.icon-square {
  &:before {
    content: $icon-square;
  }
}
.icon-text {
  &:before {
    content: $icon-text;
  }
}
.icon-trash-2 {
  &:before {
    content: $icon-trash-2;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-undo {
  &:before {
    content: $icon-undo;
  }
}
.icon-collapse {
  &:before {
    content: $icon-collapse;
  }
}
.icon-expand {
  &:before {
    content: $icon-expand;
  }
}
.icon-eye-off-2 {
  &:before {
    content: $icon-eye-off-2;
  }
}
.icon-eye:before {
  content: "\e96b";
}
.icon-maximize {
  &:before {
    content: $icon-maximize;
  }
}
.icon-minimize {
  &:before {
    content: $icon-minimize;
  }
}
.icon-move {
  &:before {
    content: $icon-move;
  }
}
.icon-options-2 {
  &:before {
    content: $icon-options-2;
  }
}
.icon-options {
  &:before {
    content: $icon-options;
  }
}
.icon-radio-button-off {
  &:before {
    content: $icon-radio-button-off;
  }
}
.icon-radio-button-on {
  &:before {
    content: $icon-radio-button-on;
  }
}
.icon-toggle-left {
  &:before {
    content: $icon-toggle-left;
  }
}
.icon-toggle-right {
  &:before {
    content: $icon-toggle-right;
  }
}
.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-menu-2 {
  &:before {
    content: $icon-menu-2;
  }
}
.icon-menu-arrow {
  &:before {
    content: $icon-menu-arrow;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-more-horizontal {
  &:before {
    content: $icon-more-horizontal;
  }
}
.icon-more-vertical {
  &:before {
    content: $icon-more-vertical;
  }
}
.icon-alert-circle {
  &:before {
    content: $icon-alert-circle;
  }
}
.icon-alert-triangle {
  &:before {
    content: $icon-alert-triangle;
  }
}
.icon-bell-off {
  &:before {
    content: $icon-bell-off;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-question-mark-circle {
  &:before {
    content: $icon-question-mark-circle;
  }
}
.icon-question-mark {
  &:before {
    content: $icon-question-mark;
  }
}
.icon-shake {
  &:before {
    content: $icon-shake;
  }
}
.icon-arrow-ios-down {
  &:before {
    content: $icon-arrow-ios-down;
  }
}
.icon-arrow-ios-left {
  &:before {
    content: $icon-arrow-ios-left;
  }
}
.icon-arrow-ios-right {
  &:before {
    content: $icon-arrow-ios-right;
  }
}
.icon-arrow-ios-up {
  &:before {
    content: $icon-arrow-ios-up;
  }
}
.icon-arrowhead-down {
  &:before {
    content: $icon-arrowhead-down;
  }
}
.icon-arrowhead-left {
  &:before {
    content: $icon-arrowhead-left;
  }
}
.icon-arrowhead-right {
  &:before {
    content: $icon-arrowhead-right;
  }
}
.icon-arrowhead-up {
  &:before {
    content: $icon-arrowhead-up;
  }
}
.icon-arrow-circle-down {
  &:before {
    content: $icon-arrow-circle-down;
  }
}
.icon-arrow-circle-left {
  &:before {
    content: $icon-arrow-circle-left;
  }
}
.icon-arrow-circle-right {
  &:before {
    content: $icon-arrow-circle-right;
  }
}
.icon-arrow-circle-up {
  &:before {
    content: $icon-arrow-circle-up;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrrow-left {
  &:before {
    content: $icon-arrrow-left;
  }
}
.icon-corner-down-left {
  &:before {
    content: $icon-corner-down-left;
  }
}
.icon-corner-down-right {
  &:before {
    content: $icon-corner-down-right;
  }
}
.icon-corner-left-down {
  &:before {
    content: $icon-corner-left-down;
  }
}
.icon-corner-left-up {
  &:before {
    content: $icon-corner-left-up;
  }
}
.icon-corner-right-down {
  &:before {
    content: $icon-corner-right-down;
  }
}
.icon-corner-right-up {
  &:before {
    content: $icon-corner-right-up;
  }
}
.icon-corner-up-left {
  &:before {
    content: $icon-corner-up-left;
  }
}
.icon-corner-up-right {
  &:before {
    content: $icon-corner-up-right;
  }
}
.icon-diagonal-arrow-left-down {
  &:before {
    content: $icon-diagonal-arrow-left-down;
  }
}
.icon-diagonal-arrow-left-up {
  &:before {
    content: $icon-diagonal-arrow-left-up;
  }
}
.icon-diagonal-arrow-right-down {
  &:before {
    content: $icon-diagonal-arrow-right-down;
  }
}
.icon-diagonal-arrow-right-up {
  &:before {
    content: $icon-diagonal-arrow-right-up;
  }
}
.icon-flip-2 {
  &:before {
    content: $icon-flip-2;
  }
}
.icon-flip {
  &:before {
    content: $icon-flip;
  }
}
.icon-swap {
  &:before {
    content: $icon-swap;
  }
}
.icon-funnel:before {
  content: "\e9a2";
}
.icon-gift {
  &:before {
    content: $icon-gift;
  }
}
.icon-pricetag {
  &:before {
    content: $icon-pricetag;
  }
}
.icon-id {
  &:before {
    content: $icon-id;
  }
}
