<h2>Inputs</h2>

<div class="row" style="width: 100%;">
    <div class="col-sm-8">
        <app-packen-input size="tiny" label="Normal tiny" icon="icon-lock" [value]="valueTest"
            (outputChangeValue)="changeTextInput($event)" placeholder="placeholder" type="text" textArea="false"
            textMessage="" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </app-packen-input>
        <br>

        <app-packen-input size="small" label="Normal tiny" icon="icon-lock" [value]="valueTest"
            (outputChangeValue)="changeTextInput($event)" placeholder="placeholder" type="text" textArea="false"
            textMessage="" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </app-packen-input>
        <br>

        <app-packen-input size="medium" label="Disabled Medium" icon="icon-lock" [value]="valueTest"
            (outputChangeValue)="changeTextInput($event)" placeholder="placeholder" type="text" textArea="false"
            textMessage="" themeMessage="warning" iconMessage="icon-info" disabled="true">
        </app-packen-input>
        <br>

        <app-packen-input size="large" label="Disabled large" icon="icon-lock" [value]="valueTest"
            (outputChangeValue)="changeTextInput($event)" placeholder="placeholder" type="text" textArea="false"
            textMessage="Prueba de error" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </app-packen-input>
        <br>

        <app-packen-input size="giant" label="Giant" icon="icon-lock" [value]="valueTest"
            (outputChangeValue)="changeTextInput($event)" placeholder="placeholder" type="text" textArea="false"
            textMessage="Prueba de error" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </app-packen-input>

        <br>
        <app-packen-input size="tiny" label="TextArea" icon="icon-lock" [value]="valueTest"
            (outputChangeValue)="changeTextInput($event)" placeholder="placeholder" type="text" textArea="true"
            textMessage="" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </app-packen-input>

        <br>
        <app-packen-input size="tiny" label="TextArea disabled" icon="icon-lock" [value]="valueTest"
            placeholder="placeholder" type="text" textArea="true" textMessage="" themeMessage="warning"
            iconMessage="icon-info" disabled="true">
        </app-packen-input>

        <br>
        <app-packen-input size="tiny" label="TextArea error" icon="icon-lock" [value]="valueTest"
            placeholder="placeholder" type="text" textArea="true" textMessage="Error de mensaje" themeMessage="warning"
            iconMessage="icon-info" disabled="false">
        </app-packen-input>

    </div>
    <div class="col-sm">

    </div>

</div>