<h2>Inputs</h2>
<div class="row" style="width: 100%;">
    <div class="col-sm-8">
        <app-packen-input size="tiny" label="Normal tiny" value="Value" placeholder="placeholder" type="text"
            textArea="false" textMessage="" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </app-packen-input>
        <br>

        <app-packen-input size="small" label="Normal tiny" value="Value" placeholder="placeholder" type="text"
            textArea="false" textMessage="" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </app-packen-input>
        <br>

        <app-packen-input size="medium" label="Disabled Medium" value="Value" placeholder="placeholder" type="text"
            textArea="false" textMessage="" themeMessage="warning" iconMessage="icon-info" disabled="true">
        </app-packen-input>
        <br>

        <app-packen-input size="large" label="Disabled large" value="Value" placeholder="placeholder" type="text"
            textArea="false" textMessage="Prueba de error" themeMessage="warning" 
            iconMessage="icon-info" disabled="false">
        </app-packen-input>
        <br>

        <app-packen-input size="giant" label="Giant" value="Value" placeholder="placeholder" type="text"
            textArea="false" textMessage="Prueba de error" themeMessage="warning" 
            iconMessage="icon-info" disabled="false">
        </app-packen-input>
        
        <br>
        <app-packen-input size="tiny" label="TextArea" value="Value" placeholder="placeholder" type="text"
            textArea="true" textMessage="" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </app-packen-input>

        <br>
        <app-packen-input size="tiny" label="TextArea disabled" value="Value" placeholder="placeholder" type="text"
            textArea="true" textMessage="" themeMessage="warning" iconMessage="icon-info" disabled="true">
        </app-packen-input>

        <br>
        <app-packen-input size="tiny" label="TextArea error" value="Value" placeholder="placeholder" type="text"
            textArea="true" textMessage="Error de mensaje" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </app-packen-input>

    </div>
    <div class="col-sm">

    </div>

</div>