<h2>Inputs</h2>

<div class="row" style="width: 100%;">
    <div class="col-sm-8">
        <lib-packen-input size="tiny" label="Normal tiny required and pattern" icon="icon-lock" [(value)]="valueTest"
            placeholder="0-000-000-000" type="text" textArea="false" [required]="true" mask="0-000-000-000"
            messageErrorValidation="Error de validación" themeMessage="warning" iconMessage="icon-info" disabled="false"
            messageErrorPattern="Error de pattern" [pattern]="patternTest" [searchable]="true" [maxlength]="15"
            (keyUpInput)="testKeyUp($event)">
        </lib-packen-input>
        <br>
         
        <lib-packen-input size="small" label="Normal tiny required" icon="icon-lock" [(value)]="valueTest"
            placeholder="placeholder" [required]="true" messageErrorValidation="El campo es requerido" type="text"
            textArea="false" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </lib-packen-input>
        <br>

        <lib-packen-input size="medium" label="Disabled Medium" icon="icon-lock" [(value)]="valueTest"
            placeholder="placeholder" type="text" textArea="false" disabled="true">
        </lib-packen-input>
        <br>

        <lib-packen-input size="large" label="Disabled large Pattern email" icon="icon-lock" [(value)]="valueTest"
            [required]="true" messageErrorValidation="El campo es requerido" placeholder="placeholder" type="text"
            textArea="false" disabled="false">
        </lib-packen-input>
        <br>

        <lib-packen-input size="giant" label="Giant required" icon="icon-lock" [(value)]="valueTest"
            placeholder="placeholder" messageErrorValidation="Error de validación" [required]="true" type="text"
            textArea="false" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </lib-packen-input>

        <br>
        <lib-packen-input size="tiny" label="TextArea" icon="icon-lock" placeholder="placeholder" [required]="true"
            type="text" textArea="true" themeMessage="warning" disabled="false" [maxlength]="6" [minlength]="5">
        </lib-packen-input>

        <br>
        <lib-packen-input size="tiny" label="TextArea disabled" icon="icon-lock" [(value)]="valueTest"
            placeholder="placeholder" type="text" textArea="true" textMessage="" themeMessage="warning"
            iconMessage="icon-info" disabled="true">
        </lib-packen-input>

        <br>
        <lib-packen-input size="tiny" label="TextArea error validación" icon="icon-lock" [(value)]="valueTest"
            placeholder="placeholder" required="true" messageErrorValidation="El campo es requerido" type="text"
            textArea="true" themeMessage="warning" iconMessage="icon-info" disabled="false">
        </lib-packen-input>
    </div>

    <div class="col-sm">
    </div>
</div>