<div class="container mt-12">
    <div class="row">
        <div class="col-sm-12">
            <h2>Buttons primary</h2>
            <lib-packen-button type="icon" level="primary" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="primary" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()" [radius]="true" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="primary" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="primary" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="primary" icon="icon-arrow-circle-right" size="large" [disabled]="true"
                (outputClick)="clickButton()">
            </lib-packen-button>
            <hr />

            <lib-packen-button [minWidth]="100" type="regular" level="primary" size="tiny" title="Button"
                icon="icon-arrow-left" (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="primary" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button [fullwidth]="true" type="regular" level="primary" size="medium" title="Button"
                icon="icon-arrow-left" (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="primary" size="large" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" [fullwidth]="true" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="primary" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="primary" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right" [disabled]="true">
            </lib-packen-button>
        </div>

        <div class="col-sm">
            <h2>Buttons Secondary</h2>
            <lib-packen-button type="icon" level="secondary" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="secondary" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()" [radius]="true" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="secondary" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="secondary" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="secondary" icon="icon-arrow-circle-right" size="large"
                [disabled]="true" (outputClick)="clickButton()">
            </lib-packen-button>
            <hr />

            <lib-packen-button type="regular" level="secondary" size="tiny" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="secondary" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="secondary" size="medium" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="secondary" size="large" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="secondary" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="secondary" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right" [disabled]="true">
            </lib-packen-button>
        </div>

        <div class="col-sm">
            <h2>Buttons Danger</h2>
            <lib-packen-button type="icon" level="danger" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="danger" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()" [radius]="true" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="danger" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="danger" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="danger" icon="icon-arrow-circle-right" size="large" [disabled]="true"
                (outputClick)="clickButton()">
            </lib-packen-button>
            <hr />

            <lib-packen-button type="regular" level="danger" size="tiny" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="danger" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="danger-ghost" size="medium" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="danger-ghost-outline" size="large" title="Button"
                icon="icon-arrow-right" (outputClick)="clickButton()" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="danger" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="danger" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right" [disabled]="true">
            </lib-packen-button>
        </div>
        <div class="col-sm">
            <h2>Button ghost</h2>
            <lib-packen-button type="icon" level="ghost" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="ghost" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()" [radius]="true" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="ghost" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="ghost" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="ghost" icon="icon-arrow-circle-right" size="large" [disabled]="true"
                (outputClick)="clickButton()"></lib-packen-button>
            <hr />

            <lib-packen-button type="regular" level="ghost-outline" size="tiny" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="ghost-outline" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" [disabled]="true" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="ghost-outline" size="medium" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="ghost-outline" size="large" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="ghost" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="ghost" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right" [disabled]="true">
            </lib-packen-button>
        </div>

        <div class="col-sm">
            <h2>Buttons Tertiary</h2>
            <lib-packen-button type="icon" level="tertiary" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="tertiary" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()" [radius]="true" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="tertiary" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="tertiary" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="tertiary" icon="icon-arrow-circle-right" size="large"
                [disabled]="true" (outputClick)="clickButton()">
            </lib-packen-button>
            <hr />

            <lib-packen-button type="regular" level="tertiary" size="tiny" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="tertiary" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="tertiary" size="medium" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="tertiary" size="large" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="tertiary" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="tertiary" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right" [disabled]="true">
            </lib-packen-button>
        </div>

        <div class="col-sm">
            <h2>Buttons white</h2>
            <lib-packen-button type="icon" level="white" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="white" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()" [radius]="true" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="white" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="icon" level="white" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()">
            </lib-packen-button>

            <lib-packen-button type="icon" level="white" icon="icon-arrow-circle-right" size="large" [disabled]="true"
                (outputClick)="clickButton()">
            </lib-packen-button>
            <hr />

            <lib-packen-button type="regular" level="white" size="tiny" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="white" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="white" size="medium" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </lib-packen-button>

            <lib-packen-button type="regular" level="white" size="large" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </lib-packen-button>

            <lib-packen-button type="regular" level="white" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left" [colorText]="'#556D87'" [shadow]="true">
            </lib-packen-button>

            <lib-packen-button type="regular" level="white" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right" [disabled]="true">
            </lib-packen-button>

            <div class="btns-outline-white">
                <p class="title-buttons-outline">Buttons white outline</p>
                <lib-packen-button type="regular" level="white-outline" size="large" title="Button"
                    (outputClick)="clickButton()">
                </lib-packen-button>

                <lib-packen-button type="regular" [uppercase]="false" level="white-outline" size="large" title="Btn disabled"
                    (outputClick)="clickButton()" [disabled]="true">
                </lib-packen-button>
            </div>
        </div>
    </div>
</div>