<div class="container mt-3">
    <div class="row">
        <div class="col-sm">
            <h2>Buttons primary</h2>
            <app-packen-button type="icon" level="primary" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="primary" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="primary" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()">
            </app-packen-button>

            <br>
            <app-packen-button type="icon" level="primary" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="primary" icon="icon-arrow-circle-right" size="large" [disabled]="true"
                (outputClick)="clickButton()"></app-packen-button>
            <hr />

            <app-packen-button type="regular" level="primary" size="tiny" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="primary" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="primary" size="medium" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="primary" size="large" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="primary" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <app-packen-button type="regular" level="primary" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right" [disabled]="true">
            </app-packen-button>
        </div>
        <div class="col-sm">
            <h2>Buttons Secondary</h2>
            <app-packen-button type="icon" level="secondary" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="secondary" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="secondary" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()">
            </app-packen-button>

            <br>
            <app-packen-button type="icon" level="secondary" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="secondary" icon="icon-arrow-circle-right" size="large"
                [disabled]="true" (outputClick)="clickButton()"></app-packen-button>
            <hr />

            <app-packen-button type="regular" level="secondary" size="tiny" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="secondary" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="secondary" size="medium" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="secondary" size="large" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="secondary" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <app-packen-button type="regular" level="secondary" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right" [disabled]="true">
            </app-packen-button>
        </div>

        <div class="col-sm">
            <h2>Buttons Danger</h2>
            <app-packen-button type="icon" level="danger" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="danger" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="danger" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="danger" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="danger" icon="icon-arrow-circle-right" size="large" [disabled]="true"
                (outputClick)="clickButton()"></app-packen-button>
            <hr />

            <app-packen-button type="regular" level="danger" size="tiny" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="danger" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="danger" size="medium" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="danger" size="large" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="danger" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <app-packen-button type="regular" level="danger" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right" [disabled]="true">
            </app-packen-button>
        </div>
        <div class="col-sm">
            <h2>Button ghost</h2>
            <app-packen-button type="icon" level="ghost" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()"></app-packen-button>
            <br>
            <app-packen-button type="icon" level="ghost" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="ghost" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="ghost" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="ghost" icon="icon-arrow-circle-right" size="large" [disabled]="true"
                (outputClick)="clickButton()"></app-packen-button>
            <hr />

            <app-packen-button type="regular" level="ghost" size="tiny" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="ghost" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="ghost" size="medium" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="ghost" size="large" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="ghost" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <app-packen-button type="regular" level="ghost" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right" [disabled]="true">
            </app-packen-button>

        </div>
        <div class="col-sm">
            <h2>Buttons Tertiary</h2>
            <app-packen-button type="icon" level="tertiary" icon="icon-arrow-circle-right" size="tiny"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="tertiary" icon="icon-arrow-circle-right" size="small"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="tertiary" icon="icon-arrow-circle-right" size="medium"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="tertiary" icon="icon-arrow-circle-right" size="large"
                (outputClick)="clickButton()"></app-packen-button>

            <br>
            <app-packen-button type="icon" level="tertiary" icon="icon-arrow-circle-right" size="large"
                [disabled]="true" (outputClick)="clickButton()"></app-packen-button>
            <hr />

            <app-packen-button type="regular" level="tertiary" size="tiny" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="tertiary" size="small" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="tertiary" size="medium" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="tertiary" size="large" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right">
            </app-packen-button>

            <br>
            <app-packen-button type="regular" level="tertiary" size="giant" title="Button" icon="icon-arrow-left"
                (outputClick)="clickButton()" positionIcon="left">
            </app-packen-button>
            <br>
            <app-packen-button type="regular" level="tertiary" size="giant" title="Button" icon="icon-arrow-right"
                (outputClick)="clickButton()" positionIcon="right"
                [disabled]="true">
            </app-packen-button>

        </div>
    </div>

</div>